workflow.json
{
  "name": "SaaS CS Bot - Atendimento Inteligente",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Ola! Sou o assistente virtual de CS. Sobre qual assunto voce quer falar?\n\n1 - Modulo Principal\n2 - Produtos / Catalogo\n3 - Integracoes\n4 - Operacoes\n5 - Configuracoes\n6 - Financeiro\n7 - Estoque\n8 - Suporte Tecnico\n\nDigite o numero que melhor descreva sua duvida.",
        "options": {}
      },
      "id": "ebc14ad4-5746-418b-9468-2818d9295dac",
      "name": "Quando chega mensagem do cliente",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [496, -256],
      "webhookId": "saas-cs-chat"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Voce e o atendente virtual de CS de uma plataforma SaaS.\n\nCATEGORIAS: [Adapte conforme seu produto].\n\nREGRA SUPREMA: So responda sobre o produto usando dados da ferramenta Base de Conhecimento. NUNCA invente IDs (KB-XXX) ou funcionalidades.\n\nMENU NUMERADO:\n- 1 a 7 (sozinhos): confirme categoria e pergunte a duvida. Nao chame ferramenta.\n- 8 (suporte): encaminhe para humano com canais de contato. Nao chame ferramenta.\n- menu/voltar/0: reapresente as 8 opcoes. Nao chame ferramenta.\n\nPERGUNTAS REAIS:\nA) Tem na base -> chame ferramenta UMA VEZ, cite [Fonte: KB-XXX].\nB) Sem resposta -> encaminhe para humano.\nC) Fora do escopo -> informe limitacao educadamente.\nD) Saudacao pura -> reapresente o menu.\n\nTOM: PT-BR, profissional e proximo. 3-6 linhas.",
          "maxIterations": 4
        }
      },
      "id": "c113a971-49e8-47ca-969d-b9896a61024d",
      "name": "Agente CS",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [784, -256]
    },
    {
      "parameters": {"contextWindowLength": 10},
      "id": "0e0780d5-8da4-4fee-9049-49d8e09d4485",
      "name": "Memoria da Conversa",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [848, -32]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Base oficial de FAQs do produto. Colunas: ID, Categoria, Pergunta, Resposta, Palavras_Chave.",
        "documentId": {"__rl": true, "value": "YOUR_SPREADSHEET_ID", "mode": "list"},
        "sheetName": {"__rl": true, "value": "base", "mode": "list"},
        "options": {}
      },
      "id": "025b1def-c5f3-4bde-a89c-5a6936caba30",
      "name": "Base_de_Conhecimento",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [976, -32],
      "credentials": {"googleSheetsOAuth2Api": {"id": "YOUR_CREDENTIAL_ID", "name": "Google Sheets OAuth2 API"}}
    },
    {
      "parameters": {
        "assignments": {"assignments": [{"id": "cc90e32c", "name": "output", "value": "={{ $('Agente CS').item.json.output }}", "type": "string"}]},
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1632, -256],
      "id": "48921b43-99c7-46ac-a345-f814f6debeb7",
      "name": "Devolver resposta"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {"__rl": true, "value": "YOUR_SPREADSHEET_ID", "mode": "list"},
        "sheetName": {"__rl": true, "value": "logs", "mode": "list"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Sessao_ID": "={{ $('Quando chega mensagem do cliente').item.json.sessionId }}",
            "Pergunta_Usuario": "={{ $('Quando chega mensagem do cliente').item.json.chatInput }}",
            "KB_Retornado": "={{ /KB-?\\d+/i.exec($('Agente CS').item.json.output)?.[0] || 'Nenhum' }}",
            "Tipo_Resposta": "={{ /KB-?\\d+/.test($('Agente CS').item.json.output) ? 'Respondido' : 'Outro' }}"
          },
          "matchingColumns": [],
          "attemptToConvertTypes": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1408, -320],
      "id": "3f7c6cdd-84be-45ba-95b6-cfcdeaf53d91",
      "name": "Logs",
      "credentials": {"googleSheetsOAuth2Api": {"id": "YOUR_CREDENTIAL_ID", "name": "Google Sheets OAuth2 API"}}
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict", "version": 3},
          "conditions": [{"id": "e40429cd", "leftValue": "={{ $('Quando chega mensagem do cliente').item.json.chatInput }}", "rightValue": "=^\\d+$", "operator": {"type": "string", "operation": "notRegex"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1184, -256],
      "id": "e8e508d4-be20-44b6-9b39-bbde37486cab",
      "name": "If"
    },
    {
      "parameters": {"model": "openai/gpt-oss-120b", "options": {"maxTokensToSample": 800, "temperature": 0.3}},
      "id": "cbfd9da8-9630-4fcc-af06-ed046119b84e",
      "name": "Groq GPT-OSS 120B",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [720, -32],
      "credentials": {"groqApi": {"id": "YOUR_GROQ_CREDENTIAL_ID", "name": "Groq account"}}
    }
  ],
  "pinData": {},
  "connections": {
    "Quando chega mensagem do cliente": {"main": [[{"node": "Agente CS", "type": "main", "index": 0}]]},
    "Memoria da Conversa": {"ai_memory": [[{"node": "Agente CS", "type": "ai_memory", "index": 0}]]},
    "Base_de_Conhecimento": {"ai_tool": [[{"node": "Agente CS", "type": "ai_tool", "index": 0}]]},
    "Agente CS": {"main": [[{"node": "If", "type": "main", "index": 0}]]},
    "Logs": {"main": [[{"node": "Devolver resposta", "type": "main", "index": 0}]]},
    "If": {"main": [[{"node": "Logs", "type": "main", "index": 0}],[{"node": "Devolver resposta", "type": "main", "index": 0}]]},
    "Groq GPT-OSS 120B": {"ai_languageModel": [[{"node": "Agente CS", "type": "ai_languageModel", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": false},
  "tags": [{"name": "Customer Success"}, {"name": "AI Automation"}]
}
